


<!--
<advert-carousel-ui [adverts]="adverts"></advert-carousel-ui>

<main-card-layout
  [images]="images"
  [title]="'Зубочистка'"
  shop="Сельхозяющка"
  [rating]="4.7"
  [price]="1294"
  [discount]="10"
  [countRating]="443"
  [addedCount]="addedCount"
  [isLiked]="isLiked"
  [addedCount]="addedCount"
  (onLike)="onLike()"
  (onAdd)="onAdd()"
></main-card-layout>
<select-dropdown-ui
  [options]="options"
  (onChange)="onChangeDropdown($event)"
  [selectedIndex]="selectedDropdown"
></select-dropdown-ui>
<div [style.width]="basketWidth">
  <basket-product-layout
    [product]="basketProducts[0]"
    [productUrl]="basketProductUrl"
    [isSelected]="isSelectedBasketProduct"
    [isLiked]="isLikedBasketProduct"
    (onDelete)="onDeleteBasketProduct($event)"
    (onShare)="onShareBasketProduct($event)"
    (onLike)="onLikeBasketProduct($event)"
    (onAdd)="onAddBasketProduct($event)"
    (onRemove)="onRemoveBasketProduct($event)"
    (onToggleSelect)="onToggleSelectBasketProduct($event)"
    (onClickBuy)="onBuyBasketProduct($event)"
  ></basket-product-layout>
</div>


<div [style.width]="commentWidth">
  <comment-layout [comment]="comment" [isLiked]="commentIsLiked" [isDisliked]="commentIsDisliked" [shopReply]="shopReply" [options]="commentOptions" (onLike)="commentOnLike()" (onDislike)="commentOnDislike()" (onClickReply)="commentOnReply()"></comment-layout>
</div>


<form-create-password-layout (onSubmit)="onSubmitFormCreatePassword($event)" [serverError]="serverError">
</form-create-password-layout>
-->
<main-page 
[products]="products" 
[adverts]="adverts" 
(onLike)="onLikeProduct($event)"
(onAdd)="onAddProduct($event)"
(onClick)="onClickProduct($event)"
(onSearch)="onSearchProduct($event)"
[isLoading]="isLoading"
[hasMore]="hasMore"
(loadMore)="loadMore()"
()></main-page>