.search {
  block-size: 80px;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 0 25px;
  border-radius: 100em;
}

.light {
  background-color: var(--text);
}

.dark {
  background-color: var(--tertiary);
}

