<div
  class="virtual-scroll__container"
  appInfiniteScroll
  [infiniteScrollConfig]="infiniteScrollConfig"
  [infiniteScrollDisabled]="isLoading || !hasMore"
  (infiniteScroll)="onLoadMore()"
>
  <div class="virtual-scroll">
    @for(product of products; track $index) {
    <main-card-layout
      [title]="product.title"
      [shop]="product.shop"
      [images]="product.images"
      [rating]="product.rating"
      [price]="product.price"
      [discount]="product.discount"
      [countRating]="product.countRating"
      [addedCount]="product.addedCount"
      [isLiked]="product.isLiked"
      (onLike)="onClickLike(product)"
      (onAdd)="onClickAdd(product)"
      (onClick)="onClickProduct(product)"
    ></main-card-layout>}
  </div>
</div>
