<form class="form-create-password__container" [formGroup]="passwordForm" novalidate (ngSubmit)="submit()">
  <div class="form-create-password__input">
    <input-shelf-ui
      size="large_24"
      background="dark"
      type="text"
      placeholder="Пароль"
      width="350px"
      [errorMessage]="isInvalidPassword ? '1' : ''"
      [isPlaceholderOnInput]="isPlaceholderOnPassword"
    ><input
      name="password"
      type="password"
      inputFocus
      (onFocus)="onFocusEventPassword()"
      (onEmpty)="onEmptyEventPassword()"
      (onBlur)="onBlurEventPassword()"
      class="input large_24 dark"
      minlength="1"
      maxlength="255"
      [attr.required]="true"
      formControlName="password"
    /></input-shelf-ui>
    @if(isInvalidPassword) {
      <text-ui type="danger" size="medium_16" back="dark">Некорректный пароль</text-ui>
    }
  </div>
  <div class="form-create-password__input">
    <input-shelf-ui
      background="dark"
      placeholder="Повторите пароль"
      width="350px"
      [errorMessage]="isInvalidRepeatPassword ? '1' : ''"
      name="repeatPassword"
      [isPlaceholderOnInput]="isPlaceholderOnRepeatPassword"
      ><input
        name="repeatPassword"
        type="password"
        inputFocus
        (onFocus)="onFocusEventRepeatPassword()"
        (onEmpty)="onEmptyEventRepeatPassword()"
        (onBlur)="onBlurEventRepeatPassword()"
        class="input large_24 dark"
        minlength="1"
        maxlength="255"
        [attr.required]="true"
        formControlName="repeatPassword"
    /></input-shelf-ui>

    @if(isInvalidRepeatPassword) {
      <text-ui type="danger" size="medium_16" back="dark">Пароли не совпадают</text-ui>
    } @else {
      <text-ui type="main" size="medium_16" back="dark"></text-ui>
    }
  </div>
  <div class="form-create-password__submit-personal-data">
    <select-dot-ui [selected]="isSelectedPersonalDataProcessing" (onClick)="onSelectPersonalDataProcessing()"></select-dot-ui>
    <text-ui type="main" size="medium_14" back="dark">Согласен на обработку персональных данных</text-ui>
  </div>
  <div class="form-create-password__input">
    @if(serverError) {
    <text-ui type="danger" size="medium_16" back="dark">{{ serverError }}</text-ui>
    } @else {
      <text-ui type="main" size="medium_16" back="dark"></text-ui>
    }
    <button-ui type="primary" form="rounded" [disabled]="isDisabled" (onClick)="submit()">
      <div class="form-create-password__submit-button">
        <text-ui type="main" size="medium_16" back="light" [bold]="true">Создать аккаунт</text-ui>
      </div>
    </button-ui>
  </div>
</form>
