:root {
  --back-color: #1C274C;
  --layer-color: #20335A;
  --primary-color: #00FF00;
  --secondary-color: #283242;
  --rest-color: #858A9D;
  --sign-color: #FFF;
  --not-sign-color: #000;
  --trans-back-color: rgba(0 0 0 / 0.5);

  --font-family-sans-serif: 'NunitoSans', sans-serif;
  --font-family-serif: 'BonaNova', serif;
} 