.body {
  border-radius: var(--standart-radius);
}

.primary {
  background-color: var(--primary-back);
}

.secondary {
  background-color: var(--secondary-back);
}

.tertiary {
  background-color: var(--tertiary);
}

.small {
  border-radius: var(--small-radius);
}