<form class="form-phone__container" [formGroup]="phoneForm" novalidate (ngSubmit)="submit()">
  <div class="form-phone__input form-phone__phone">
    <input-shelf-ui
      size="large_24"
      background="dark"
      type="text"
      placeholder="Имя"
      width="350px"
      [errorMessage]="isInvalidPhone ? '1' : ''"
      [isPlaceholderOnInput]="isPlaceholderOnPhone"
    ><input
      name="phone"
      type="text"
      inputFocus
      (onFocus)="onFocusEventPhone()"
      (onEmpty)="onEmptyEventPhone()"
      (onBlur)="onBlurEventPhone()"
      class="input large_24 dark"
      minlength="1"
      maxlength="255"
      [attr.required]="true"
      formControlName="phone"
    /></input-shelf-ui>
    @if(isInvalidPhone) {
      <text-ui type="danger" size="medium_16" back="dark">Некорректный телефон</text-ui>
    }
  </div>
  <div class="form-phone__input">
    @if(serverError) {
    <text-ui type="danger" size="medium_16" back="dark">{{ serverError }}</text-ui>
    }
    <button-ui type="primary" form="rounded" [disabled]="isDisabled" (onClick)="submit()">
      <div class="form-phone__submit-button">
        <text-ui type="main" size="medium_16" back="light" [bold]="true">Продолжить</text-ui>
      </div>
    </button-ui>
  </div>
</form>
