.dropdown__container {
  position: relative;
}
.dropdown__options {
  position: absolute;
  backdrop-filter: blur(10px);
  z-index: 1;
  top: 100%;
  right: 0;
  background-color: var(--tertiary);
  block-size: auto;
  min-inline-size: max-content;
  display: flex;
  flex-direction: column;
  border-radius: var(--standart-radius);
}

.dropdown__options:nth-child(1), .dropdown__option-button:hover:nth-child(1) {
  border-top-left-radius: var(--standart-radius);
  border-top-right-radius: var(--standart-radius);
}

.dropdown__options:nth-last-child(1), .dropdown__option-button:hover:nth-last-child(1) {
  border-bottom-left-radius: var(--standart-radius);
  border-bottom-right-radius: var(--standart-radius);
}

.dropdown__option-button {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  block-size: 30px;
  background-color: transparent;
  cursor: pointer;
}

.dropdown__option-button:hover {
  background-color: var(--tertiary-hover);
}