:root {
  --font: "PT Sans", sans-serif;
  --back: #1C274C;
  --primary-back: #233D64;
  --secondary-back: #20335A;
  --text: #fff;
  --on-light-text: #1a1a1a;
  --sub-text: #8E93A6;
  --block-text: rgb(0, 0, 0, 0.5);
  --primary: #00FF00;
  --primary-hover: #5cff5c;
  --primary-low: #abffab;
  --secondary: #283242;
  --tertiary: rgb(0, 0, 0, 0.5);
  --tertiary-hover: rgb(0, 0, 0, 0.7);
  --disabled: rgb(0,0,0,0.25);
  --danger-text: #FF0000;
  --star: #FFD700;
  --standart-radius: 15px;
  --small-radius: 10px;
  --standart-padding: 20px;
  --secondary-padding: 15px;
  --form-inactive: #c4c4c4;
}
