.select-dot__container {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 30px;
  inline-size: 30px;
  border-radius: 10px;
  background-color: var(--on-light-text);
  transition: background-color 0.3s ease-in-out;
}

.select-dot__selected {
  background-color: var(--primary);
}

.dot {
  block-size: 15px;
  inline-size: 10px;
  rotate: 45deg;
  transform: translateY(-25%) translateX(-25%);
  border-inline-end: 2px solid var(--on-light-text);
  border-block-end: 2px solid var(--on-light-text);
  animation: dotPlaced 0.3s ease-in-out;
}

@keyframes dotPlaced {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
