@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
  font-weight: 400 800;
  font-style: italic;
}

@font-face {
  font-family: "NunitoSans";
  src: url("../assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
  font-weight: 400 800;
}

@font-face {
  font-family: "BonaNova";
  src: url("../assets/fonts/Bona_Nova_SC/BonaNovaSC-Regular.ttf") format("truetype");
  font-weight: 400 800;
}

@font-face {
  font-family: "BonaNova";
  src: url("../assets/fonts/Bona_Nova_SC/BonaNovaSC-Bold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "BonaNova";
  src: url("../assets/fonts/Bona_Nova_SC/BonaNovaSC-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "BonaNova";
  src: url("../assets/fonts/Bona_Nova_SC/BonaNovaSC-Italic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}