.button {
  padding: 1px;
  border-radius: var(--standart-radius);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  outline: none;
}

.empty {
  background-color: transparent;
  border-radius: 0;
}

button:disabled {
  cursor: not-allowed;
  color: var(--disabled);
}

button:disabled svg {
  fill: var(--disabled);
}

.rounded {
  border-radius: 100em;
}

.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--secondary);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.tertiary {
  background-color: var(--tertiary);
  backdrop-filter: blur(10px);
}

.tertiary:hover {
  background-color: var(--tertiary-hover);
}