.img__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: var(--standart-radius);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.loading {
  overflow: hidden;
  position: relative;
  background-color: var(--primary-back);
}

.loading_spin {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 500%;
  background-color: var(--secondary-back);
  box-shadow: 25px 0 15px var(--secondary-back), -25px 0 15px var(--secondary-back);
  animation: spin 1.5s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes spin {
  0% {
    transform: translateY(50%);
    transform: translateX(-300%);
  }
  100% {
    transform: translateY(-50%);
    transform: translateX(300%);
  }
}

.error {
  background-color: var(--primary-back);
  display: flex;
  justify-content: center;
  align-items: center;
}
