.menu-mobile__container {
  inline-size: 100%;
  block-size: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-back);
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.menu-mobile__svg {
  fill: var(--text);
}

.menu-mobile__link-active .menu-mobile__svg {
  fill: var(--primary);
}